.home__main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.home__main-content {
  width: 40%;
  padding-left: 30px;
}
.home__main-img {
  width: 58%;
}
.home__main-img img {
  width: 100%;
  object-fit: contain;
}

.home__main-content-pretitle {
  font-size: 22px;
}
.home__main-content-title {
  font-size: 51px;
  font-weight: 800;
}
.home__main-btn-group {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.home__main-btn {
  width: 116px;
  text-align: center;
  padding: 7px 12px;
  border: 2px solid #297cbb;
  color: #297cbb;
  font-weight: 700;
}

.home__main-btn:hover {
  background: rgb(158, 0, 0);
  color: white;
}

.blue {
  background-color: #297cbb;
  color: white;
}
