* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url("./cursor.png"), auto; /* Changes the cursor to your custom image */
    
  }
  body {

    /* background: rgba(0, 0, 0, 0.696); */
    background: linear-gradient(to right, #000041, #000061);
    height: 100%;
    /* overflow: hidden; */
  }
  